body, html, .ox {
  overflow: hidden;
}

.button {
  height: 30px;
  line-height: 30px;
  width: 80px;
  background-color: #5496ec;
  border-radius: 15px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: 1px 2px 4px #88a9d7;
  text-align: center;
  border: 1px solid #3f7dd3;
  cursor: pointer;
  color: white;
}